@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    font-family: 'Lato', -apple-system, Sans-Serif;
}

.frontpage {
  padding-top: 20pt;
  text-align: center;

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  h1 {
    font-size: 52pt;
    text-transform: lowercase;
    display: inline;
    line-height: 60pt;
    .big {
        font-size: 100pt;
        display: block;
        line-height: 90pt;
    }
  }

  h2 {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 100pt;
    display: inline;
  }
}
